<loader *ngIf="loading; else content"></loader>
<ng-template #content>
    <ngx-charts-pie-chart [view]="[300, 300]" [results]="expenseGroups" [scheme]="colorSchemeName" [activeEntries]="activeEntries"
                          [legend]="false" (activate)="itemHover($event)" (deactivate)="itemHover()">
        <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip-header">{{ model.name }}</div>
            <div class="tooltip-value">{{ model.value | currency }}</div>
        </ng-template>
    </ngx-charts-pie-chart>
    <chart-legend [colorScheme]="colorSchemeName" [data]="expenseGroups" (itemHover)="itemHover($event)"></chart-legend>
</ng-template>
