<loader *ngIf="loading; else content"></loader>
<ng-template #content>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Memo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of recentExpenses">
                <td>{{ e.transactionDate | date }}</td>
                <td>{{ e.amount | currency }}</td>
                <td>{{ e.memo }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" routerLink="ExpenseList">View more</a>
</ng-template>
