:host {
    width: 100%;
    overflow-y: auto;
}

.total-spending {
    font-size: 1.125rem;
    font-weight: bold;
    padding-inline-start: 0.25rem;
}

.item-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding-inline-start: 0.25rem;
    border-radius: 0.25rem;

    &:hover {
        font-weight: bold;
        background-color: rgba(128, 128, 128, 0.075);
    }
    
    .color-swatch {
        height: 1.125rem;
        width: 1.125rem;
        border-radius: 50%;
    }

    .row-label {
        margin-top: -2px;
        margin-bottom: 2px;
    }
}
