.table-wrapper {
    min-height: 300px;
    max-height: calc(100vh - 50px - 4.5rem - 2rem - 5vh); // header height, h1 height, button height, adjustment just because
    overflow-y: auto;
}

table {
    position: relative;
}

thead {
    th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: var(--bs-white);
    }

    th.date {
        width: 125px;
    }

    th.amount {
        width: 125px;
    }

    th.category {
        width: 250px;
    }

    th button.filter-button {
        display: inline-block;
        margin-inline-start: auto;
        border: 0;
        background-color: transparent;
    }

    tr.filter-row th {
        border-bottom: 1px solid black;
        background-color: transparent;
    }
}

tbody tr {
    cursor: pointer;
}
